*
!.gitignore
!.colors/
!.colors/*
!.config/
!.config/herbstluftwm/
!.config/herbstluftwm/autostart
!.config/fontconfig/
!.config/fontconfig/fonts.conf
!.aliases
!.emacs.d
!.emacs.d/init.el
!.emacs.d/init.d
!.emacs.d/init.d/*
!.hgrc
!.tmux.conf
!.xinitrc
!.xmodmaprc
!.zshenv
!.zshfuncs
!.zshrc
!.Xresources
!.hgrc
!.tmux.conf
!.xinitrc
!.xmodmaprc
!.zshenv
!.zshfuncs
!.zshrc
!.Xresources
!.bin/
!.bin/*
**~

**.elc

**/#*#
