*
!.gitignore
!.git.d/
!.git.d/*
!.colors/
!.colors/*
!.config/
!.config/fontconfig/
!.config/fontconfig/fonts.conf
!.emacs.d
!.emacs.d/init.el
!.emacs.d/init.d
!.emacs.d/init.d/*
!.hgrc
!.tmux.conf
!.xinitrc
!.xmodmaprc
!.zshenv
!.zshfuncs
!.zshrc
!.Xresources
!.hgrc
!.tmux.conf
!.xinitrc
!.xmodmaprc
!.zshenv
!.zshfuncs
!.zshrc
!.Xresources
!.bin/
!.bin/*
!.rcrc
!.rc.d/
!.rc.d/*
!.inputrc
**~

**.elc

**/#*#
