*
!.gitignore
!.colors/
!.colors/*
!.aliases
!.emacs
!.hgrc
!.tmux.conf
!.xinitrc
!.xmodmaprc
!.zshenv
!.zshfuncs
!.zshrc
!.Xresources
!.emacs
!.hgrc
!.tmux.conf
!.xinitrc
!.xmodmaprc
!.zshenv
!.zshfuncs
!.zshrc
!.Xresources
!.bin/
!.bin/*
**~
