! URxvt
URxvt.scrollBar: false
URxvt.saveLines: 16
! URxvt.transparent: true
! URxvt.shading: 32
URxvt.cursorBlink: true
URxvt.geometry: 86x26
URxvt.inputMethod: ibus
URxvt.preeditType: OverTheSpot

! Font
URxvt.font: xft:Source Code Pro:style=Regular:size=12
URxvt.boldFont: xft:Source Code Pro:style=Bold:size=12
URxvt.italicFont: xft:Source Code Pro:style=Italic:size=12
URxvt.boldItalicFont: xft:Source Code Pro:style=Bold Italic:size=12