! URxvt
URxvt.scrollBar: false
URxvt.saveLines: 16
! URxvt.transparent: true
! URxvt.shading: 32
URxvt.cursorBlink: true
URxvt.geometry: 86x26
URxvt.inputMethod: ibus
URxvt.preeditType: OverTheSpot

! Font
URxvt.font: xft:Source Code Pro:style=Regular:size=8
URxvt.boldFont: xft:Source Code Pro:style=Bold:size=8
URxvt.italicFont: xft:Source Code Pro:style=Italic:size=8
URxvt.boldItalicFont: xft:Source Code Pro:style=Bold Italic:size=8

! HiDPI Settings
Xft.dpi: 140
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb