! URxvt
URxvt.scrollBar: false
URxvt.saveLines: 16
! URxvt.transparent: true
! URxvt.shading: 32
URxvt.cursorBlink: true
URxvt.geometry: 86x26
URxvt.inputMethod: ibus
URxvt.preeditType: OverTheSpot

! Font
URxvt.font: xft:Dina:size=9

! HiDPI Settings
Xft.dpi: 140
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
