#!/usr/bin/rc
nl='
'

fn prompt {
  s=$status
  h=() color=32 s=$s(1) {
    if (! ~ $s 0) {
      color=31
    }

    h=``($nl){pwd | sed 's_'$home'_~_'}
    h=$h(1)
    prompt=(`` () {printf '\e[%im# %s\e[0m on %s\n' $color $h `hostname} '- ')
  }
}