#!/usr/bin/rc
nl='
'

fn prompt {
  s=$status
  h=() color=32 s=$s(1) {
    if (! ~ $s 0) {
      color=31
    }

    h=``($nl){pwd | sed 's_'$home'_~_'}
    h=$h(1)
    prompt=(``(){
      printf '\e[%im' $color
      echo '#' $h
      echo -n '#' `whoami @ `hostname
      if (! ~ $TMUX ()) {
	  session_name=``($nl){tmux display-message -p '#{session_name}'}
	  echo -n ' (tmux:'^$session_name^')'
      }
      printf '\e[0m\n'
    } '- ')
  }
}
