#!/usr/bin/rc
MAIL=$home/Mail

EDITOR=e
SUDO_EDITOR=emacs

LANG='en_US.UTF-8'
LC_ALL=$LANG

PAGER=less

history=$home/.history

LS_COLORS='no=0:fi=0:di=44;37:ln=36:or=41;37:mi=41;37:pi=32:so=32;47:bd=45;37:cd=45;37:ex=33;40:'
