#!/usr/bin/rc
MAIL=$home/Mail

EDITOR=mg
SUDO_EDITOR=mg

LANG='en_US.UTF-8'
LC_ALL=$LANG

PAGER=less

history=$home/.history

LS_COLORS='di=1;34:ln=32:so=33:pi=33:ex=1;0:bd=33;46:cd=31;47:su=30;1;41:sg=1;30;1;41:tw=30;1;42:ow=37;1;44'
